<!-- <header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">E-Kart</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="items">Items</a></li>
        <li><a routerLink="users">Users</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
</header> -->
<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/images/cart1.png" class="logo" />E-kart
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="users">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="items">Items</a>
      </li>
    </ul>
  </nav>
</header>
